body {
	font-family: "Verdana", sans-serif;
	color: #444;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}
body, div, ol, li {
	box-sizing: border-box;
}

ol {
	padding: 20px 10px;
	margin: 0;
	width: 100%;

}

li {
  font-size: 0.8751em;
	max-width: 100%;
	width: 400px;
	padding: 0.5em 0.8em;
	margin-bottom: 3px;
	list-style-position: inside;
	background-color: rgba(0,0,0,0.15);
	color: #383838;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 0px rgba(0,0,0,0.25) inset,
				-1px -1px 0px rgba(255,255,255,0.25) inset,
				1px 1px 0px rgba(0,0,0,0.25),
				-1px -1px 0px rgba(255,255,255,0.25);
}

.stationItem {
  padding-left: 1.6em;
  background-color: rgba(0,0,0,0.1);
  color: #585858;
}

.counter {
  font-weight: 600;
  margin: 1em;
}

input {
  margin: 1em;
}
small {
  font-weight: 300;

}
